bin
obj
csx
.vs
edge
.vscode/*
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json

node_modules
dist

# Local python packages
.python_packages/

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*/.env

# Byte-compiled / optimized / DLL files
__pycache__/
.pythob_packages
*.py[cod]
*$py.class

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json

# terraform
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
crash.log
crash.*.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Sensitive files
*.env

# Lock files
.terraform.lock.hcl

# ml model outputs
**/tmp/prophet_model.json
**/tmp/anomaly_isoforest.pkl
**/tmp/*
**/prophet_model
**/anomaly_isoforest